<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Web Attacks</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="../css/styles.css" rel="stylesheet" />
        <link href="../js/scripts.js">
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>    
    <style>
        a
        {
            display: block;
        }
        .card-img
        {
          max-width: 179px;
          max-height: 76px;
        }
    </style>
    </head>
    <body>
        <%- include("../../partials/header.ejs") %>
        <header class="container" style="margin-top:1rem;">
          <h4 style="display: inline;"> Web applications</h4> <p style="display: inline;">are an important part of our lives. These days if one has any problem,one can look it up on the internet. But what if the Google or Bing it unavailable. If you haven't thought about it before,<strong> Google went down for an hour (in early 2021)</strong>. <br> People were unable to access the services that google provided , be it drive,email, cloud computing ,etc.People were locked out of their own houses as they were using Google Powered IoT devices for their lock systems.  </p>
          <p><mark>If you think that your website is safe, then think again. Study the following topics and check it out for yourself</mark>.</p>
          <p>If you want to be a penetration tester,then Web Site Pentesting is not going to leave you anytime soon.</p>
        </header>
        <div class="container" style="margin-top: 1rem;">
            <h1>Topics</h1>
        </div>
        <div class="container" style="margin-top: 1rem;">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/a.png" class="card-img" alt="card">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="/attacks/stages">5 Stages</a></h5>
                      <p class="card-text">Learn About the 5 stages of Hacking.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/b.png" class="card-img" alt="card">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="/attacks/lfi">Local File Inclusion</a></h5>
                      <p class="card-text">Introduction to Local File Inclusion Vulnerability.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/f.png" class="card-img" alt="card">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="/attacks/serialzation">Java Serialzation and Deserialzation</a></h5>
                      <p class="card-text">Introduction to Java Serialzation and Deserialzation.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/e.png" class="card-img" alt="card">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="/attacks/json-web-tokens-jwt">JWT: Json Web Tokens</a></h5>
                      <p class="card-text">It is  a compact and self-contained way for securely transmitting information between parties as a JSON object.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/c.png" class="card-img" alt="card">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="/attacks/information-disclosure">Information Disclosure</a></h5>
                      <p class="card-text">Learn how leaving some sensitive information hard-coded can leave you vulnerable.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/d.png" class="card-img" alt="card">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="/attacks/os-command-injection">OS Command Injection</a></h5>
                      <p class="card-text">Learn how an attacker can use this Vulnerability to execute malicious commands.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/e.png" class="card-img" alt="card">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="/attacks/blind-os-command-injection">Blind OS Command Injection</a></h5>
                      <p class="card-text">Even if results aren't being fetched to us, doesn't mean the site isn't vulnerable.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/f.png" class="card-img" alt="card">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="/attacks/code-injection">Code Injection</a></h5>
                      <p class="card-text">Similar to Command Injection, but here we are restriced by a particlur language interpreter.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/g.png" class="card-img" alt="card">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="/attacks/cross-site-scripting">Cross Site Scripting</a></h5>
                      <p class="card-text">XSS allows malicious actors to inject malicious javascript code to the web applications.</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
            <!-- <a href="/attacks/stages">Stages</a> -->
            <!-- <a href="/attacks/lfi">Local File Inclusion</a> -->
            <!-- <a href="/attacks/serialzation">Java Deserialzation</a> -->
            <!-- <a href="/attacks/json-web-tokens-jwt">Json Web Tokens</a> -->
            <!-- <a href="/attacks/information-disclosure">Information Disclosure</a> -->
            <!-- <a href="/attacks/os-command-injection">OS-Command-Injection</a> -->
            <!-- <a href="/attacks/blind-os-command-injection">Blind OS Command Injection</a> -->
            <!-- <a href="/attacks/code-injection">Code Injection</a> -->
            <!-- <a href="/attacks/cross-site-scripting">XSS : Cross Site Scripting</a> -->
        </div>
    </body>
</html>