<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reverse Engineering</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="../css/styles.css" rel="stylesheet" />
        <link href="../js/scripts.js">
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <%- include("../../partials/header.ejs") %>
        <header class="container" style="margin-top: 2rem;">
            <h5>Reverse engineering plays a huge role in sparking innovativation that produces new and efficient designs,architectures across every industry. Reverse engineering includes taking apart worn down products to examine how individual parts work, and then incorporating past inventions into new ones.</h5>
            <h5 class="text-muted">Tip:The Bad Guys use Reverse Engineering to produce cracked versions of premium softwares.</h5>
        </header>
        <div class="container" style="margin-top: 2rem;">
            <h1 style="margin-bottom:2rem;">Topics</h1>
            <div class="card mb-3" style="max-width: 540px;" >
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/g.png" class="card-img" alt="card">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="/reverseEngineering/static-vs-dynamic-analysis">Static Vs Dynamic</a></h5>
                      <p class="card-text">Types of Reverse Engineering Techniques</p>
                    </div>
                  </div>
                </div>
              </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/f.png" class="card-img" alt="card">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="/reverseEngineering/intro">Introduction to Reverse Engineering - I </a></h5>
                      <p class="card-text"></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/e.png" class="card-img" alt="card">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="/reverseEngineering/intro2">Introduction to Reverse Engineering - II </a></h5>
                      <p class="card-text"></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>

    </body>
</html>