<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Adware and Spyware</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="../css/styles.css" rel="stylesheet" />
        <link href="../js/scripts.js">
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
       <style>
            img
            {
                display: flex;
                margin:10px auto 10px auto;
            }
        </style>
    </head>
    <body>
        <%- include("../../partials/header.ejs") %>
        <header class="container" style="margin-top: 1rem;">
            <h1>Adware and Spyware</h1>
            
            <img src="https://www.le-vpn.com/wp-content/uploads/2019/12/What-is-spyware-1200x628.png" alt="Adware and Spyware" class="img-fluid" style="max-height: 500px;max-width: 100%;">
        </header>
        <div class="container" style="margin-top:4rem;">
            <h2>Adware</h2>
            <img src="https://www.malwarebytes.com/images/adware/adware_graphics_1.png" alt="Adware" class="img-fluid" style="max-height: 500px;max-width: 100%;">
            <p>Adware is a type of malware that displays advertisement and pop-ups on the screen. Hence the name <strong>Adware</strong></p>
            <p>This can result in performance issues as certain amount of processing power or computer resources are utilized in fetching these advertisements and displaying on the computer screen.</p>
            <p>They are  usually installed while installing malicious softwares.They generally don't send the victim's data to the attackers. Their main aim is to promote their product (like thier own adware removal product that creates a backdoor on your computer) or the product of 3rd party companies.</p>
        </div>
        <div class="container">
            <h2>Spyware</h2>
            <img src="https://www.malwarebytes.com/images/pillar-page/adware-header-image.png" alt="Spyware" class="img-fluid" style="max-width:100%;max-height:500px;"> 
            <p><strong>Spyware is a malicious software that spies on you. Hence the term "SPY" prepended to "WARE".</strong></p>
            <p>It can do a lot of things besides spying on the sites that you visit.</p>
            <p>It can even inject some malicious code on the sites that you visit and cause your session tokens,IDs to be sent to the attackers and if this wasn't enough <em>it may even wait for you to input some data (like credentials) so that it can send it to the attackers.</em></p>
            <p>It caputres the victim's surfing habits, and can even install its own keylogger.</p>
            <p class="text-muted">NOTE:The attackers know that the victims look for free spyware removal tools online and therefore create their own versions of it. When these tools are installed, the spware gets automatically installed on to the computer.</p>
        </div>
    </body>
</html>