<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bot & Botnets</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="../css/styles.css" rel="stylesheet" />
        <link href="../js/scripts.js">
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
       </head>
    <body>
        <%- include("../../partials/header.ejs") %>
        <header class="container">
            <h1>Bot & Botnets</h1>
            <img src="" alt="..." class="img-fluid">
        </header>
        <div class="container">
            <h3>A Bot</h3>
            <p>A bot which is short for a <strong>robot</strong> is a type of software application or script that performs automated tasks on command <strong>from a centralized command and control center </strong>(often called as the mother ship)</p>
            <p>They are specialized piece of malware that lie dormant until and unless they receive command from a mother ship.</p>
            <p>Once the computer gets affected with this malware, your computer becomes a bot, and since there is no malicios activity visible, it can go undetected for a lifetime. <strong>The compromised machine is then referred to as a zombie.</strong></p>
        </div>
        <div class="container">
            <h3>Botnet</h3>
            <p>A single bot on its own can't be of much use. So, the attackers trick the victims to install these bots on as much computers as possible. <strong>This army of bots is called a botnet.</strong></p>
            <p>Botnets can be used to implement a DDos Attack, to render a service or a network unavailable.The attacker can even rent the botnets to clients (for a particular period of time) for appreciable amount of money.</p>
            <p>More the number of bots that get installed on computers, more is the strength with which an attack can be launched. <br>
            <strong>For example: A bot takes 1Mbps of bandwidth. Then an army of 1000000 bots can take up a bandwidth of 100Gbps ( 1Mbps * 1000000) which is more enough to bring down a simple website.</strong></p>
        </div>
        <div class="container">
            <h3>Prevention</h3>
            <ul>
                <li>Updating your Anti-Virus and OS</li>
                <li>Installing  firewalls and IDS</li>
                <li>Cheking your network traffic for odd packets. If your computer is a part of a botnet, it will surely receive try to establish a connection to its command and control system.</li>
                <li>If you do find the where the connection is being made to, you can specifically instruct the firewall from accepting the data packets from the C&C.</li>
            </ul>
        </div>
    </body>
</html>
