<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Computer Security</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="../css/styles.css" rel="stylesheet" />
        <link href="../js/scripts.js">
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
       <style>
        .card-img
        {
          max-width: 179px;
          max-height: 76px;
        }
      </style>
      </head>
    <body>
        <%- include("../../partials/header.ejs") %>
        <div class="container" style="margin-top: 3rem;">
          <header>
            <p><mark>There could be various reasons you would want to study about computer security.Studying cyber security gives you the opportunity to use your analytical skills to solve complex problems and analyse data patterns. In your professional life, if a security issue occurs then you'll need to be able to think quickly to research the problem and troubleshoot to find the cause.</mark></p>
            <blockquote class="blockquote ">
                <p class="mb-0">Computer security, cybersecurity or information technology security is the protection of computer systems and networks from the theft of or damage to their hardware, software, or electronic data, as well as from the disruption or misdirection of the services they provide.</p>
                <footer class="blockquote-footer text-right"><cite title="Wikipedia">Wikipedia</cite></footer>
              </blockquote>
            <h3>Topics</h3>
          </header>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/b.png" class="card-img" alt="card">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="/security/introduction-to-malware">Introduction To Malware</a></h5>
                      <p class="card-text">Lets Begin</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/a.png" class="card-img" alt="card">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="/security/virus-and-worms">Viruses</a></h5>
                      <p class="card-text">I cause lags!</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/b.png" class="card-img" alt="card">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="/security/virus-and-worms#worms">Worms</a></h5>
                      <p class="card-text">Not a real worm!</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/c.png" class="card-img" alt="card">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="/security/ransomware-and-cryptomalware">Ransomware & Crypto-Malware</a></h5>
                      <p class="card-text">I want your money!</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/d.png" class="card-img" alt="card">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="/security/trojan-horses-and-rat">Trojan Horse and RAT</a></h5>
                      <p class="card-text">I'm Innocent!</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/e.png" class="card-img" alt="card">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="/security/rootkits">Rootkits</a></h5>
                      <p class="card-text">Can't Spot Me!</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/f.png" class="card-img" alt="...">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="/security/adware-and-spyware">Adware and Spyware</a></h5>
                      <p class="card-text">I spy on you!</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/g.png" class="card-img" alt="card">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="/security/bot-and-botnets">Bot & Botnets</a></h5>
                      <p class="card-text">I'll make you a zombie!!</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/a.png" class="card-img" alt="card">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="/security/logic-bomb">Logic Bombs</a></h5>
                      <p class="card-text">My name is enough to case distruction!</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/c.png" class="card-img" alt="card">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="/security/phishing">Phishing</a></h5>
                      <p class="card-text">I look real!</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/f.png" class="card-img" alt="card">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="/security/tailgating-and-impersonation">Tailgating & Impersonation</a></h5>
                      <p class="card-text">I mirror You!</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/e.png" class="card-img" alt="card">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="/security/denial-of-service">Denial Of Service</a></h5>
                      <p class="card-text">I can shut you down completely!</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
        </div>
    </body>
</html>