<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Keylogger</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="../css/styles.css" rel="stylesheet" />
        <link href="../js/scripts.js">
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
       </head>
    <body>
        <%- include("../../partials/header.ejs") %>
        <header class="container">
            <h1>Keylogger</h1>
            <img src="..." alt="..." class="img-fluid">
        </header>
        <div class="container">
            <h3>Description</h3>
            <p>A keylogger is a piece of softaware that captures all your keystrokes, and sends them to the malicious users.</p>
            <p>The comparative advantage that an attacker has of using a keylogger over other techniques is that is gets around all the encryption methods. As we don't use any  encrytion when we are typing. We use encryption to store data, and during data transmission.</p>
            <p><u>For instance, here is a link to the keylogger that I built. It captures all the keystrokes, and then sends them to my mail address.</u><a href="#">Gitbuh lik haseraw</a></p>
            <p>Besides keystrokes, a keylogger can even have access to your clipborad, audio,search engine queries,instant messaging data,and take snap shots of the screen and send them to the bad guys.</p>

            <p>Keyloggers are generally installed when malicious softwares/applications are installed on the computer. A Trojan could install these keyloggers into your computer.</p>
        </div>
        <div class="container">
            <h3>Prevention</h3>
            <p>Some of the preventive measures that you can take are:</p>
            <ul>
                <li>Update your Anti-Virus</li>
                <li>Check for unknown files. Many a times,keyloggers capture all the keystrokes and store them in a file, and then send the files to the attackers.</li>
                <li>Check for unknown traffic going out of your network. You can check it using tools like Wireshark.</li>
            </ul>
        </div>
    </body>
</html>