<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Logic Bombs</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="../css/styles.css" rel="stylesheet" />
        <link href="../js/scripts.js">
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
       </head>
    <body>
        <%- include("../../partials/header.ejs") %>
        <header class="container">
            <h1>Logic Bombs</h1>
            <img src="" alt="..." class="img-fluid">
        </header>
        <div class="container">
            <p>It is a special type of malware that waits for an event to occur before it can start its execution.</p>
            <p>The event could be a particular time of the day, or when the automatic backup starts,etc. But as soon as the event occurs, something devascating can be expected. <strong>This is why it has "bomb" appended to it.</strong></p>
            <p>They are often left by someone holding a grudge against the victim.</p>
            <p>What makes them so special is that they have no specific signature attatched to them, as each logic bomb can be triggered by different events. This characteristic of it can prevents it from Anti-Virus detection. </p>
            <p> So the only way to check for it is to look for any changes being made in the file system, etc.</p>
        </div>
    </body>
<html></html>