<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tailgating & Impersonation</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="../css/styles.css" rel="stylesheet" />
        <link href="../js/scripts.js">
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
       </head>
    <body>
        <%- include("../../partials/header.ejs") %>
        <header class="container">
            <h1>Tailgating & Impersonation</h1>
        </header>
        <div class="container">
            <h3>Tailgating</h3>
            <p>Tailgating is a technique where someone uses someone else to gain access to a restriced/locked area. <p></p>
            <p>For example: While standing in a queue (of a company where you don't work) you might tell someone that you forgot your id card, and if he could use his id to let you in. This is an example of performing tailgating.</p>            
            <h3>Prevention</h3>
            <ul>
                <li>Making policy for visitors.</li>
                <li>Only person to be allowed to pass through at a time.</li>
                <li>Airlock/Mantrap to be installed.</li>
                <li>Alarm to be triggerd when one id that was already used to get one inside(and the person is still inside) used to used again to get someone in.</li>
            </ul>
        </div>
        <div class="container">
            <h3>Impersonation</h3>
            <p>Impersonation means to pretend to be someone else who you aren't.</p>
            <p>There could be various reasons why a malicious actor could do that. </p>
            <ul>
                <li>He could impersonate to get access to the server room.</li>
                <li>He could impersonate to ruin someone's identity.</li>
                <li>He could impersonate for financial gains.</li>
            </ul>
        </div>
    </body>
</html>