<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trojan Horses and RATs</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="../css/styles.css" rel="stylesheet" />
        <link href="../js/scripts.js">
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
       <style>
            img
            {
                display: flex;
                margin:10px auto 10px auto;
            }
        </style>
    </head>
    <body>
        <%- include("../../partials/header.ejs") %>
        <header class="container">
            <h1>Torjan Horses & RATs</h1>
            <img src="https://www.silicon.co.uk/wp-content/uploads/2015/08/Trojan-Horse-1280x720.jpg" alt="Ransomware" class="img-fluid" style="max-width: 100%;max-height: 500px;">
        </header>
        <div class="container">
            <h3>Trojan Horse</h3>
            <p>A Trojan Horse is a piece of software that pretendes to be innocent but in reality is a malicious program, so that it can entice you to install itself.</p>
            <p>Some of the characteristics of Trojan Horses are:</p>
            <ul>
                <li>It doesn't care much about replicating(unlike viruses,worms).</li>
                <p class="text-muted">Once a trojan is installed on your computer it has as much access to your computer as you do.</p>
                <li>Once it is inside your system, it can open gates(install) to other malicious programs.</li>
                <p class="text-muted">It does so by installing/opening a backdoor to the system(like a reverse shell), through which a malicious actor can access the system.</p>
                <li>These days Trojans are built to avoid and disable Anti-Viruses.</li>
                <li>Some malwares can take advantage of the backdoor created by other malwares.</li>
                <li>Some softwaes include a backdoor(for debugging purposes) that a malicious actor can take advantage of.</li>
            </ul>
        </div>
        <div class="container" style="margin-top:2rem;">
            <h3>REMOTE ACCESS TROJANS(RATs)</h3>
            <img src="https://cdn.ttgtmedia.com/rms/onlineImages/security-trojan_horse_mobile.png" alt="RAT" class="img-fluid" style="max-width:100%;max-height:500px;">
            <p>This is a caregory of Trojans that can provide administrative control to the attackers.It is installed as a service into the victim's computer and with the help of a client software, an attacker can have unprecendeted access to your computer.</p>
            <p><strong>It can be used to remotely control a device.</strong></p>
            <p>Once installed, it can accomplish the following things:</p>
            <ul>
                <li>Key Logging</li>
                <li>Screen Recording & taking Screen Shots</li>
                <li>Downloading and Uploading Files</li>
                <li>Install malware,etc.</li>
            </ul>
            <p><strong>Example: DarkComet RAT</strong></p>
        </div>
    </body>
</html>