<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact-Me</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <link href="https://fonts.googleapis.com/css?family=Righteous|Ubuntu+Mono&display=swap" rel="stylesheet">
        <link href="../css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="../css/contact.css">
        <link href="../js/scripts.js">
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
       </head>
    <body>
        <%- include("../partials/header.ejs") %>
        <div id="particles-js"></div>
        <div class="container">
            <div class="center">
              <div class="row d-flex flex-wrap align-items-center">
                <div class="col-md-5">
                  <!-- <img class="image img-fluid" src="img/avatar.png" alt="image">put your image here -->
                </div>
                <div class="col-md">
                  <!-- <p class="header1"></p> -->
                  <!-- <p class="header3">Rahul Singh Chauhan</p> -->
                  <p class="header3">The Three Musketeers</p>
                  <p class="header2">Computer Science Student / Cyber Security Enthusiast </p>
                  <a class="link1" href="https://www.linkedin.com/in/rahul-singh-b76349173/" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><i class="fab fa-linkedin"></i></a>
                  <a class="link1" href="https://github.com/rahulsinghinfosec/" data-toggle="tooltip" data-placement="bottom" title="Github"><i class="fab fa-github"></i></a>
                  <a class="link1" href="https://www.instagram.com/_rahul_singh_chauhan._/" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fab fa-instagram"></i></a>
                  <a class="link1" href="https://www.facebook.com/profile.php?id=100030284021507" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fab fa-facebook"></i></a>
                </div>
              </div>
            </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>    
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
        <script src="../js/app.js"></script>
    </body>
</html>