<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Error</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <style>
           img
           {
            display: flex;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            width: 10rem;
            }
        </style>
    </head>
    <body>
        <div class="container" >
            <img src="https://cdn4.iconfinder.com/data/icons/cloud-computing-2/500/cloud-rejected-512.png" alt=""error>
            <center>Error 404</center>
        </div>
    </body>
</html>

