<!DOCTYPE html>
<html lang="en">
    <head>
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Reverse Engineering</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <link href="../css/styles.css" rel="stylesheet" />
            <link href="../js/scripts.js">
            <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
           </head>
    </head>
    <body>
        <%- include("../../partials/header.ejs") %>
        <header class="container">
            <h1>Let's Master Linux</h1>
        </header>
        <div class="container">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/a.png" class="card-img" alt="card">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"> <a href="/linux/commands">Basic Commands</a></h5>
                      <p class="card-text">Let's Begin from the basics. Shall We?.</p>
                    </div>
                  </div>
                </div>
              </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/b.png" class="card-img" alt="card">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"> <a href="/linux/shell">Types of shells</a></h5>
                      <p class="card-text">I am what you'll always need!</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/c.png" class="card-img" alt="card">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"> <a href="/linux/cheatsheet"> Reverse Shell Cheat Sheet</a></h5>
                      <p class="card-text">Language isn't a barrier. I have them all.</p>
                    </div>
                  </div>
                </div>
              </div>
              
        </div>
      
       
       
    </body>
</html>