<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Networking</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link href="../css/styles.css" rel="stylesheet" />
        <link href="../js/scripts.js">
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
       </head>
    <body>
        <%- include("../../partials/header.ejs") %>
        <header class="container" style="margin-top: 1rem;">
            <h5>Whether you are preparing for Comptia A+, N+, Cisco Certifications, OSCP, CEH, planning to become a security reseacher, computer network is a filed that is going to leave you anytime soon. <br> 
                So, let's not waste our time looking for shortcuts and straightaway begin from the basics.
            </h5>
        </header>
        <div class="container" style="margin-top: 2rem;">
            <h1 style="margin-bottom: 2rem;">Topics</h1>
            <div class="card mb-3" style="max-width: 540px;" >
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/a.png" class="card-img" alt="card">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="/network/introduction-to-networks">Introduction</a></h5>
                      <p class="card-text">Not a real worm!</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/b.png" class="card-img" alt="card">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="/network/osi-model">OSI Model</a></h5>
                      <p class="card-text">Not a real worm!</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/c.png" class="card-img" alt="card">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="/network/7-layers">7 Layers</a></h5>
                      <p class="card-text">Not a real worm!</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-4">
                    <img src="../../images/Security/d.png" class="card-img" alt="card">
                  </div>
                  <div class="col-8">
                    <div class="card-body">
                      <h5 class="card-title"><a href="/network/physical-network-topology">Physical Network Topology</a></h5>
                      <p class="card-text">Not a real worm!</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        
        
        
        
        
    </body>
</html>